body {
  background-color:  #1D2951;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.app {
  margin: auto;
  width: 50%;
  text-align: center;
}

.header-one {
  color: aliceblue;
}

.form-wrapper {
  background-color: aliceblue;
  border-radius: 5px;
  max-width: 85%;
  margin: auto;
  padding: 10px;
  box-shadow: rgba(180, 174, 235, 0) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

/* .from-wrapper {}

.to-wrapper {} */

.from-select {
  padding: 5px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.to-select {
  padding: 5px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

option {
  font-size: 16px;
}

option:nth-child(odd) {
  background-color: lightgray;
}

.amount-input {
  padding: 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.convert-button {
  font-size: 16px;
}